[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python manage.py runserver --settings=project_name.config.settings.test"
dev = "python manage.py runserver --settings=project_name.config.settings.development"
prod = "python manage.py runserver --settings=project_name.config.settings.production"
test = "python manage.py test --settings=project_name.config.settings.test --noinput --parallel"

[packages]
django = "~=5.0"
djangorestframework = "~=3.14"

[dev-packages]
pytest-cov = "~=4.1"
flake8 = "~=7.0"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
