-i https://pypi.org/simple
coverage[toml]==7.4.4; python_version >= '3.8'
flake8==7.0.0; python_full_version >= '3.8.1'
iniconfig==2.0.0; python_version >= '3.7'
mccabe==0.7.0; python_version >= '3.6'
packaging==24.0; python_version >= '3.7'
pluggy==1.4.0; python_version >= '3.8'
pycodestyle==2.11.1; python_version >= '3.8'
pyflakes==3.2.0; python_version >= '3.8'
pytest==8.1.1; python_version >= '3.8'
pytest-cov==4.1.0; python_version >= '3.7'
